In [1]:
import pandas as pd

# Load the first CSV file
meat_consumption_df = pd.read_csv('modified_meat_consumption_worldwide.csv')

# Load the second CSV file
historical_data_df = pd.read_csv('Final_Historical_data_ISO.csv')

# Merge the two dataframes on the 'Country Name' and 'country' columns
merged_df = pd.merge(meat_consumption_df, historical_data_df, left_on='Country Name', right_on='country', how='inner')

# Save the merged dataframe to a new CSV file
merged_df.to_csv('merged_meat_consumption_and_Income stats.csv', index=False)

# Display the first few rows of the merged dataframe
merged_df.head()

,LOCATION,SUBJECT,MEASURE,TIME,Value,Country Name,country,iso,GCAM_region_ID,year,REF,gini_reported,gdp_ppp_pc_usd2011,population,Category,Income..net.,gini_recalculated,Data source
0,AUS,BEEF,KG_CAP,1991,27.721815,Australia,Australia,aus,6,1967,aus1967,0.308,19500.0,11949357.0,d1,0.027115,0.31500203,Imputed from GINI coefficient
1,AUS,BEEF,KG_CAP,1991,27.721815,Australia,Australia,aus,6,1967,aus1967,0.308,19500.0,11949357.0,d2,0.045268,0.31500203,Imputed from GINI coefficient
2,AUS,BEEF,KG_CAP,1991,27.721815,Australia,Australia,aus,6,1967,aus1967,0.308,19500.0,11949357.0,d3,0.057447,0.31500203,Imputed from GINI coefficient
3,AUS,BEEF,KG_CAP,1991,27.721815,Australia,Australia,aus,6,1967,aus1967,0.308,19500.0,11949357.0,d4,0.068654,0.31500203,Imputed from GINI coefficient
4,AUS,BEEF,KG_CAP,1991,27.721815,Australia,Australia,aus,6,1967,aus1967,0.308,19500.0,11949357.0,d5,0.080131,0.31500203,Imputed from GINI coefficient

In [2]:
# Load the merged CSV file
merged_df = pd.read_csv('merged_meat_consumption_and_Income stats.csv')

# List of columns to drop
columns_to_drop = ['LOCATION', 'country', 'iso', 'REF', 'Data source']

# Drop the specified columns
merged_df.drop(columns=columns_to_drop, inplace=True)

# Save the updated dataframe to a new CSV file
merged_df.to_csv('merged_meat_consumption_and_Income_stats_withDroppedCoulmns.csv', index=False)

# Display the first few rows of the updated dataframe to confirm changes
merged_df.head()

,SUBJECT,MEASURE,TIME,Value,Country Name,GCAM_region_ID,year,gini_reported,gdp_ppp_pc_usd2011,population,Category,Income..net.,gini_recalculated
0,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d1,0.027115,0.315002
1,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d2,0.045268,0.315002
2,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d3,0.057447,0.315002
3,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d4,0.068654,0.315002
4,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d5,0.080131,0.315002

In [3]:
import pandas as pd

# Load the updated CSV file
df = pd.read_csv('merged_meat_consumption_and_Income_stats_withDroppedCoulmns.csv')

# Replace '#N/A' with NaN
df.replace('#N/A', pd.NA, inplace=True)

# Drop rows with NaN values
df.dropna(inplace=True)

# Save the cleaned dataframe to a new CSV file
df.to_csv('cleaned_merged_meat_consumption_and_Income_stats.csv', index=False)

# Display the first few rows of the cleaned dataframe to confirm changes
df.head()

,SUBJECT,MEASURE,TIME,Value,Country Name,GCAM_region_ID,year,gini_reported,gdp_ppp_pc_usd2011,population,Category,Income..net.,gini_recalculated
0,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d1,0.027115,0.315002
1,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d2,0.045268,0.315002
2,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d3,0.057447,0.315002
3,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d4,0.068654,0.315002
4,BEEF,KG_CAP,1991,27.721815,Australia,6,1967,0.308,19500.0,11949357.0,d5,0.080131,0.315002

In [4]:
# Load the merged CSV file
merged_df = pd.read_csv('cleaned_merged_meat_consumption_and_Income_stats.csv')

# List of columns to drop
columns_to_drop = ['gini_recalculated', 'GCAM_region_ID']

# Drop the specified columns
merged_df.drop(columns=columns_to_drop, inplace=True)

# Save the updated dataframe to a new CSV file
merged_df.to_csv('UpdatedwithDroppedCoulmns_meat_consumption_and_Income_stats_withDroppedCoulmns.csv', index=False)

# Display the first few rows of the updated dataframe to confirm changes
merged_df.head()

,SUBJECT,MEASURE,TIME,Value,Country Name,year,gini_reported,gdp_ppp_pc_usd2011,population,Category,Income..net.
0,BEEF,KG_CAP,1991,27.721815,Australia,1967,0.308,19500.0,11949357.0,d1,0.027115
1,BEEF,KG_CAP,1991,27.721815,Australia,1967,0.308,19500.0,11949357.0,d2,0.045268
2,BEEF,KG_CAP,1991,27.721815,Australia,1967,0.308,19500.0,11949357.0,d3,0.057447
3,BEEF,KG_CAP,1991,27.721815,Australia,1967,0.308,19500.0,11949357.0,d4,0.068654
4,BEEF,KG_CAP,1991,27.721815,Australia,1967,0.308,19500.0,11949357.0,d5,0.080131